.for-students-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  gap: 4rem;
  background-color: var(--bg-dark);
}

.for-students-section h2{
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  color: var(--text);
  position: relative;
  text-align: center;
}


.for-students-section .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 4rem; */
  width: 700px;
}

.for-students-section .button-container .button {
  padding: 15px 35px;
  border: none;
  width: 200px;
  border-radius: var(--radius-small);
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
  font-size: var(--font-button);
  background-color: var(--accent-2);
  color: var(--button-color);
  cursor: pointer;
}


@media (max-width: 768px) {
  .for-students-section {
    height: 450px;
  }

  .for-students-section .button-container {
    width: 100%;
    flex-direction: column; 
    gap: 1rem; 
    justify-content: center;
    align-items: center;
  }

  .for-students-section .button-container {
    width: 100%;
  }
}
