.for-students-section {
  padding-block: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  gap: 4rem;
  background-color: var(--bg-dark);
}

.for-students-section h2{
  font-size: var(--font-headings);
  color: var(--text);
  position: relative;
  text-align: center;
}


.for-students-section .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 4rem; */
  width: 50%;
}

.for-students-section .button-container .button {
  padding: 15px 35px;
  border: none;
  border-radius: var(--radius-button);
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
  font-size: var(--font-button);
  background-color: var(--accent-4);
  color: var(--button-color);
  cursor: pointer;
}

