.teaching-staff-section .grid-item {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: var(--radius-button);
  padding: 1rem;
  gap: 1rem;
}

.teaching-staff-section .grid-item img {
  width: 150px;
  height: 150px;
  border-radius: var(--radius-full);
}

.teaching-staff-section .grid-item h4 {
  font-weight: 600;
  font-size: var(--font-button);
  color: var(--text-muted);
}

.teaching-staff-section .grid-item p {
  text-align: center;
  color: var(--text-muted);
  font-size: var(--font-text);
}