.teaching-staff-pop-up {
  position: fixed;
  top: calc(50% + 55px / 2); 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-light);
  border-radius: var(--radius-small);
  padding: 2.75rem 3rem;
  gap: 1.5rem;
  overflow: hidden;
  z-index: 3000;
}

.teaching-staff-pop-up::after {
  position: absolute;
  content: '';
  height: 5px;
  width: 80%;
  border-radius: var(--radius-small);
  background-color: var(--accent-2);
  bottom: 40px;
}


.teaching-staff-pop-up .button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.teaching-staff-pop-up button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-primary);
  color: var(--button-color);
  border: none;
  font-family: 'Parkinsans', sans-serif;
  font-weight: 600;
  font-size: var(--font-big-title);
  border-radius: var(--radius-small);
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.teaching-staff-pop-up img {
  width: 180px;
  height: 180px;
  border-radius: var(--radius-full);
}

.teaching-staff-pop-up h4 {
  font-weight: 600;
  font-size: var(--font-titles);
  text-align: center;
}

.teaching-staff-pop-up p {
  text-align: center;
  font-size: var(--font-small-title);
}

@media (max-width: 600px) {
  .teaching-staff-pop-up {
    width: 95%;
    height: 400px;
  }

  .teaching-staff-pop-up::after {
    bottom: 15px;
  }
}