.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 700px;
  max-width: 95%;
  position: fixed;
  top: calc(50% + 55px/2);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: var(--radius-small);
}

.swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.swiper-container .swiper-slide .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
}

.swiper-container .swiper-slide .content-container h3 {
  font-size: var(--font-big-title);
  color: var(--text);
}

.swiper-container .swiper-slide .content-container p {
  font-size: var(--font-regular);
}

.swiper-pagination-bullet {
  background-color: var(--accent-4);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-1);
}

.swiper-container .swiper-slide button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-primary);
  color: var(--button-color);
  border: none;
  font-family: 'Parkinsans', sans-serif;
  font-weight: 600;
  font-size: var(--font-big-title);
  border-radius: var(--radius-small);
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  /* display: block !important; */
  padding: 12px 25px;
  background-color: var(--accent-4);
  border-radius: var(--radius-full);
  font-weight: 500;
  z-index: 2000;
  font-size: var(--font-big-title);
  position: absolute;
  bottom: 50%;
}
.swiper-button-prev {
  left: 0;
  transform: translate(50%, 50%);
}
.swiper-button-next {
  right: 0;
  transform: translate(-50%, 50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

@media (max-width: 800px) {
  .swiper-container {
    width: 95%;
    max-height: 400px;
  }
  .swiper-button-prev {
    left: 0;
    bottom: 50px;
  }
  .swiper-button-next {
    right: 0;
    bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .swiper-container {
    height: 600px;
  }
}

@media (min-width: 1500px) {
  .swiper-container {
    width: 1200px;
    height: 800px;
  }
}