.gallery-grid .flip-card {
  height: 350px;
  background-color: var(--bg-light);
  border-radius: var(--radius-small);
  text-align: center;
}

.gallery-grid .flip-card .card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery-grid .flip-card .card-inner .description {
  background-color: var(--bg-light);
  width: 90%;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: var(--radius-small);
  height: 150px;
  align-items: center;
  position: absolute;
  bottom: -50px;
  z-index: 1000;
  opacity: 0;
  transition: .4s ease;
  box-shadow: var(--shadow);
}

.gallery-grid .flip-card .card-inner .description::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  bottom: 15px;
  background-color: var(--accent-2);
  transition: .4s ease-in-out;
}

.gallery-grid .flip-card .card-inner:hover .description {
  opacity: 1;
  transform: translateY(-30px);
}

.gallery-grid .flip-card .card-inner:hover .description::after {
  width: 95%;
}

.gallery-grid .flip-card .card-inner .description h4 {
  font-size: var(--font-titles);
}

.gallery-grid .flip-card .card-inner .description p {
  font-size: var(--font-regular);
  text-align: center;
}

@media (max-width: 1000px) {
  .gallery-grid .flip-card .card-inner .description {
    opacity: 1;
    transform: translateY(-30px);
  }

  .gallery-grid .flip-card .card-inner .description::after {
    width: 95%;
  }
}

@media (min-width: 1500px)  {
  .gallery-grid .flip-card {
    height: 380px;
  }
}