.gallery-grid .flip-card {
  height: 300px;
  background-color: var(--bg-light);
  border-radius: var(--radius-button);
  min-width: 300px;
  perspective: 1000px; 
}

.gallery-grid .flip-card .card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.8s; 
  transform-style: preserve-3d;
}

.gallery-grid .flip-card:hover .card-inner {
  transform: rotateY(180deg);
}

.gallery-grid .flip-card .front-side,
.gallery-grid .flip-card .back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: var(--radius-button);
  overflow: hidden;
}


.gallery-grid .flip-card .card-inner .back-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  transform: rotateY(180deg); 
  gap: 0.5rem;
}

.gallery-grid .flip-card .card-inner .back-side h4 {
  font-size: var(--font-titles);
  text-align: center;
}

.gallery-grid .flip-card .card-inner .back-side p {
  text-align: center;
  font-size: var(--font-regular);
  color: var(--text-muted);
}