.photo-gallery-section {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
}

.photo-gallery-section h2 {
  font-size: var(--font-headings);
  color: var(--text);
  text-align: center;
}

.photo-gallery-section .gallery-section-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.photo-gallery-section .gallery-section-wrapper .gallery-grid {
  display: grid;
  width: 100%;                
  max-width: 1200px;          
  min-height: 70vh;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;      
  row-gap: 3rem;         
  box-sizing: border-box;     
  margin: 0 auto;             
}


