.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-block: 1.5rem;
  /* padding-top: 55px; */
}

.feed-page-section,
.feed-page-post {
  background-color: var(--bg-dark);
  color: var(--text);
  min-height: 100vh;
  position: relative;
}

.feed-page-section .title-section,
.feed-page-post .title-section {
  /* height: 300px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-page-section .title-section h1,
.feed-page-post .title-section h1 {
  color: var(--text);
  font-size: 3.5rem;
}

.feed-page-section .feed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: fit-content;
}

.feed-page-section .feed-wrapper .feed-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.feed-page-section .scroll-to-top-button {
  position: fixed;
  bottom: 1.5rem;
  right: 50%;
  z-index: 100;
  transform: translateX(50%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
  background-color: var(--button-primary);
  padding: 0.5rem;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 600;
}

