.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-block: 1.5rem;
  /* padding-top: 55px; */
}

.feed-page-section,
.feed-page-post {
  background-color: var(--bg-dark);
  color: var(--text);
  min-height: calc(100vh - 55px);
  position: relative;
}

.feed-page-section .title-section,
.feed-page-post .title-section,
.erasmus-section .title-section {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-page-section .title-section h1,
.feed-page-post .title-section h1,
.erasmus-section .title-section h1 {
  color: var(--text);
  font-size: var(--font-headings);
}

.feed-page-section .feed-wrapper,
.erasmus-section .erasmus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: fit-content;
  min-height: calc(60vh);
}

.feed-page-section .feed-wrapper .feed-grid,
.erasmus-section .erasmus-wrapper .erasmus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* place-items: center;
  justify-items: center; */
}

.feed-page-section .scroll-to-top-button,
.erasmus-section .scroll-to-top-button {
  position: fixed;
  bottom: 1.5rem;
  right: 50%;
  z-index: 100;
  transform: translateX(50%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
  background-color: var(--button-primary);
  padding: 0.5rem;
  border-radius: var(--radius-full);
  font-size: var(--font-button);
  font-weight: 600;
}

