body.remove-margin {
  margin-top: 0;
}

.admin-panel-section {
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: var(--bg-dark);
  display: flex;
  background-image: linear-gradient(135deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));
}
