.school-council-section {
  min-height: calc(100vh - 55px);
  width: 100vw;
  background-color: var(--bg-dark);
  display: flex; /* ważne – NIE flex */
  color: var(--text);
  padding:  2rem;
  overflow-y: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* SIDEBAR – teraz po prawej */
.school-council-section .school-council-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 700px; 
  padding: 1rem 1rem;
}

.school-council-section .school-council-wrapper h3 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  text-align: center;
}

.school-council-section .school-council-wrapper .roles-wrapper {
  background-color: var(--bg);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  border: var(--border);
  padding: 1.5rem 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: fit-content;
}

.school-council-section .school-council-wrapper .roles-wrapper .role-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.school-council-section .school-council-wrapper .roles-wrapper .role-item .role {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--button-primary);
  color: var(--button-color);
  padding: 6px 8px;
  border-radius: var(--radius-small);
  font-size: var(--font-small-title);
  font-weight: 500;
}

.school-council-section .school-council-wrapper .roles-wrapper .role-item .person {
  color: var(--text-muted);
  font-style: italic;
  text-align: center;
}


@media (max-width: 800px) {
  .school-council-section {
    padding: 2rem 1rem;
  }

  .school-council-section .school-council-wrapper {
    padding: 0;
  }

  .school-council-section .school-council-wrapper h3 {
    text-align: center;
  }

  .school-council-section .school-council-wrapper .roles-wrapper .role-item .person {
    text-align: center;
  }
}

/*@media (min-width: 1600px) {
  .school-council-section .school-council-wrapper {
    width: 1100px;
  }

  .school-council-section .school-council-wrapper .roles-wrapper {
    height: 380px;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
  }

  .school-council-section .school-council-wrapper .roles-wrapper .role-item .role {
    font-size: var(--font-button);
  }

  .school-council-section .school-council-wrapper .roles-wrapper .role-item .person {
    font-size: var(--font-small-title);
  }
}*/