.documents-section li {
  min-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--text-muted);
  border-radius: var(--radius-button);
  height: 50px;
  padding: 0.75rem;
  gap: 1rem;
  box-shadow: var(--shadow);
  border: var(--border);
  cursor: pointer;
  transition: .3s;
}

.documents-section li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: var(--accent-4); */
  /* border-radius: var(--radius-button); */
  /* color: var(--accent-3); */
  font-weight: 400;
  font-size: var(--font-small-title);
  width: 100%;
}

.documents-section li .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: var(--accent-4);
  border-radius: var(--radius-button);
  color: var(--button-color);
  font-weight: 600;
}


.documents-section li .title {
  font-size: var(--font-small-title);
  flex: 1;
  color: var(--text-muted);
}

.documents-section li .date {
  text-align: center;
  width: 125px;
  background-color: var(--accent-2);
  color: var(--text-muted);
  border-radius: var(--radius-small);
  padding: 3px 6px;
}

.documents-section li:hover {
  transform: scale(1.05);
  background-color: var(--bg-light);
}