.documents-section {
  min-height: calc(100vh - 55px);
  padding-block: 2rem;
  width: 100%;
  background-color: var(--bg-dark);
  background-image: linear-gradient(130deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));
}

.documents-section,
.documents-section .docs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.documents-section .docs-wrapper {
  max-width: 1000px;
  width: 100%;
}

.documents-section .docs-wrapper h2 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  color: var(--text);
}

.documents-section .docs-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.25rem;
}

@media (max-width: 800px) {
  .documents-section {
    padding: 2rem .5rem;
  }

  .documents-section .docs-wrapper h2  {
    text-align: center;
  }
}

@media (min-width: 1600px) {
  .documents-section .docs-wrapper {
    max-width: 1300px;
  }
}