.home-page  {
    height: fit-content;
    /* background-image: linear-gradient(85deg, var(--accent-5), var(--accent-4), var(--bg-dark), var(--bg-dark), var(--bg-dark), var(--accent-4), var(--accent-5)); */
    background-image: linear-gradient(100deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-4));
    position: relative;
    z-index: 100;
    isolation: isolate;
}   
