.school-history-section .timeline-item {
  position: absolute;
  width: 320px;
  height: 80px;
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  border: var(--border-card);
  border-radius: var(--radius-small);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* gap: 2.25rem; */
}

.school-history-section .timeline-item.left {
  left: 15px;
}

.school-history-section .timeline-item.right {
  right: 15px;
}

.school-history-section .dot {
  height: 30px;
  width: 30px;
  background-color: var(--bg-light);
  border-radius: var(--radius-full);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.school-history-section .dot::before {
  position: absolute;
  content: '';
  width: 250px;
  z-index: -2;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-light);
}

.school-history-section .dot.left::before {
  right: 10%;
}

.school-history-section .dot.right::before {
  left: 10%;
}

.school-history-section .timeline-item h4 {
  font-size: var(--font-medium-titles);
  color: var(--text-muted);
}

.school-history-section .timeline-item a {
  color: var(--accent-3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background-color: var(--button-primary);
  border-radius: var(--radius-small);
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .school-history-section .timeline-item {
    width: 250px;
    padding: .5rem;
  }

  .school-history-section .timeline-item.left,
  .school-history-section .timeline-item.right {
    right: 10px;
    left: auto;
  } 

  .school-history-section .dot {
    left: 40px;
  }

  .school-history-section .dot.left::before {
    left: 10%;
    right: auto;
  }

  .school-history-section .timeline-item h4 {
    font-size: var(--font-titles);
  }

  .school-history-section .timeline-item a {
    gap: .75rem;
    padding: .5rem;
  }
}