.school-history-section,
.achievements-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 55px);
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--bg-dark);
  color: var(--text);
}

.school-history-section .school-history-wrapper,
.achievements-section .achievements-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.school-history-section .school-history-wrapper h2,
.achievements-section .achievements-wrapper h2  {
  font-size: var(--font-small-headings);
}

.school-history-section .school-history-wrapper .school-timeline, 
.achievements-section .achievements-wrapper .achievements-timeline {
  position: relative;
  height: 100vh;
  min-width: 850px;
  max-width: 1000px;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--radius-button);
}

.school-history-section .school-history-wrapper .school-timeline::before, .achievements-section .achievements-wrapper .achievements-timeline::before {
  content: '';
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-light);
  box-shadow: var(--s);
}