.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem 3rem;
}

.feed-page-section .title-section {
  font-size: var(--font-big-title);
}

/* ===== GRID ===== */
.feed-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
  row-gap: 3rem;
  width: 100%;
  max-width: 1500px;
  justify-items: center;
}



/* ===== PAGINATION ===== */
.scroll-buttons {
  display: flex;
  gap: 1rem;
}

.scroll-button {
  border: none;
  padding: 16px;
  border-radius: 50%;
  background-color: var(--accent-2);
  color: var(--accent-3);
}
