.achievements-section {
  min-height: calc(100vh - 55px);
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
    background-image: linear-gradient(135deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));

}

.achievements-section .achievements-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.achievements-section .achievements-wrapper h2 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  color: var(--text);
  text-align: center;
}

.achievements-section .achievements-wrapper .achievements-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 200px;
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-2);
  padding: .75rem 1rem;
  border-radius: var(--radius-small);
  color: var(--accent-3);
  font-size: var(--font-regular);
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: inherit;
  background-color: var(--accent-2);
  color: var(--accent-3);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: 
  max-height 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
  opacity 0.4s ease,
  transform 0.4s ease;
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  transition: .4s ease-in-out;
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button ul li:hover {
  background-color: var(--accent-4);
}

.achievements-section .achievements-wrapper .achievements-timeline .select-button ul.visible {
  max-height: 500px; /* wystarczająco dużo, żeby pomieścić wszystkie <li> */
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

@media (max-width: 1050px) {
  .achievements-section {
    padding: 2rem .5rem;
  }
}