.annual-achievements-section {
  width: 100vw;
  min-height: calc(100vh - 55px);
  background-color: var(--bg-dark);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.annual-achievements-section h3 {
  font-size: var(--font-small-headings);
}

.annual-achievements-section .annual-achievements-wrapper {
  width: 1000px;
  min-height: calc(100vh - 55px - 11rem);
  background-color: var(--bg);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.25rem;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  border: var(--border);
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper h5 {
  font-size: var(--font-regular);
  background-color: var(--button-primary);
  width: fit-content;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--radius-small);
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper ul span {
  font-size: var(--font-regular);
  color: var(--text-muted);
  line-height: 2rem;
}

.annual-achievements-section .annual-achievements-wrapper .month-wrapper ul span strong {
  font-weight: 700;
}



