.feed-page-post {
  min-height: calc(100vh - 55px);
  gap: 2rem;
  /* padding-top: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-page-post .wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-page-post .wrapper .post-card {
  box-shadow: var(--shadow);
  border: var(--border);
}

.feed-page-post .wrapper .card-image-container {
  height: 60%;
  width: 100%;
}

.feed-page-post .wrapper .card-footer-container .go-back-button {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 800px) {
  .feed-page-post .wrapper {
    min-width: unset;
    width: 100%;
  }

  .feed-page-post .wrapper .post-card {
    min-height: 550px;
    padding: 0;
  }
}