.for-students-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  gap: 4rem;
  background-color: var(--green-2);
}

.for-students-section h2 {
  font-size: 2rem;
  color: var(--green-6);
  position: relative;
}


.for-students-section .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.for-students-section .button-container .button {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: var(--green-4);
  color: var(--green-6);
  box-shadow: 0 0 15px var(--green-5);
  cursor: pointer;
}

