.erasmus-recrutation-section li {
  min-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--text-muted);
  border-radius: var(--radius-small);
  height: 50px;
  padding: 0.75rem;
  gap: 1rem;
  box-shadow: var(--shadow);
  border: var(--border);
  transition: .4s;
  cursor: pointer;
}

.erasmus-recrutation-section li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding:  0.5rem; */
  width: 100%;
  /* background-color: var(--accent-4); */
  /* border-radius: var(--radius-button); */
  /* color: var(--accent-3); */
  font-weight: 400;
  font-size: var(--font-small-title);
}

.erasmus-recrutation-section li .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--accent-2);
  color: var(--button-color);
  border-radius: var(--radius-small);
}

.erasmus-recrutation-section li p {
  flex: 1;
  color: var(--text-muted);
  font-size: var(--font-small-title);
}

.erasmus-recrutation-section li:hover {
  transform: scale(1.05);
  background-color: var(--bg-light);
}

@media (max-width: 600px) {
  .erasmus-recrutation-section li {
    min-width: unset;
    height: fit-content;
  }

  .erasmus-recrutation-section li p {
    font-size: var(--font-regular);
  }
}