.erasmus-recrutation-section {
  min-height: calc(100vh - 55px);
  width: 100vw;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.erasmus-recrutation-section .recrutation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 1000px;
}

.erasmus-recrutation-section .recrutation-wrapper h3 {
  color: var(--text);
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  text-align: center;
}

.erasmus-recrutation-section .recrutation-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 600px) {
  .erasmus-recrutation-section {
    padding: 2rem 0.5rem;
  }

  .erasmus-recrutation-section .recrutation-wrapper {
    gap: 2rem;
    width: 100%;
  }

  .erasmus-recrutation-section .recrutation-wrapper ul {
    gap: 1.25rem;
  }
}