.hero-section {
  height: calc(100vh - 55px);
  width: 100vw;
  background-image: url('../../photos/hero-section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed;  */
  /* jest maly problem z tym */
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
  overflow: hidden;
  color: var(--text);
}

.hero-section::after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.hero-section .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.hero-section .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* position: fixed; */
  position: relative;
}

.hero-section h1 {
  color: var(--text);
  font-size: var(--font-main-heading);
  text-align: center;
}

.hero-section p {
  color: var(--text-muted);
  font-size: var(--font-small-title);
  text-align: center;
  font-style: italic;
}