.about-us-section {
  height: fit-content;
  /* background-color: var(--bg-dark); */
  /* background-image: linear-gradient(80deg, var(--bg-dark), var(--accent-4)); */
  /* background-repeat: round; */
  /* background-color: transparent; */
  background-color: transparent;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-us-section .about-us-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about-us-section .about-us-wrapper h2 {
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  color: var(--text);
  text-align: center;
}

.about-us-section .about-us-wrapper ul {
  display: grid;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  grid-template-columns: 1fr;
  gap: 5rem;
  max-width: 1300px;
  justify-items: center;
}

@media (max-width: 1200px) {
  .about-us-section {
    padding: 2rem 1rem;
  }

  .about-us-section .about-us-wrapper {
    gap: 5rem;
  }

  .about-us-section .about-us-wrapper ul {
    gap: 7rem;
  }
}

@media (max-width: 768px) {
  .about-us-section .about-us-wrapper {
    gap: 3rem;
  }
  .about-us-section .about-us-wrapper ul {
    gap: 3rem;
  }
}

@media (min-width: 1600px) {
  .about-us-section .about-us-wrapper ul {
    max-width: 1600px;
    padding-inline: 2rem;
  }
}