.candidates-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 55px);
  padding: 2rem;
  background-color: var(--bg-dark);
  color: var(--text);
    background-image: linear-gradient(115deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));

}

.candidates-info-section .candidates-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  max-width: 1200px;
  height: calc(100vh - 55px - 4rem);
  padding: 1rem;
  background-color: var(--bg);
  border-radius: var(--radius-small);
  border: var(--border);
  box-shadow: var(--shadow);
}

.candidates-info-section .candidates-info-wrapper .left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: 2.75rem;
  padding: 1rem 2rem;
  /* background-color: var(--bg-light); */
  /* height: calc(100vh - 55px - 6rem); */
  width: 65%;
  /* border-radius: var(--radius-small); */
  /* box-shadow: var(--shadow); */
}

.candidates-info-section .candidates-info-wrapper .left-section h3 {
  font-size: var(--font-big-title);
  font-weight: 700;
}



.candidates-info-section .candidates-info-wrapper .left-section .rules-container,
.candidates-info-section .candidates-info-wrapper .left-section .english-test-container, 
.candidates-info-section .candidates-info-wrapper .left-section p,
.candidates-info-section .candidates-info-wrapper .left-section .survey-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--text-muted);
  font-size: var(--font-regular);
} 

.candidates-info-section .candidates-info-wrapper .left-section button {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small);
  font-family: 'Parkinsans', sans-serif;
  background-color: var(--accent-2);
  color: var(--button-color);
  border: none;
  font-size: var(--font-regular);
  white-space: nowrap;
}

.candidates-info-section .candidates-info-wrapper .left-section .english-test-container button {
  width: 250px;
}

.candidates-info-section .candidates-info-wrapper .left-section button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--button-color);
}

.candidates-info-section img {
  width: 360px;
  border-radius: var(--radius-small);
}

.candidates-info-section .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .candidates-info-section {
    padding: 2rem .5rem;
  }

  .candidates-info-section .candidates-info-wrapper {
    width: 100%;
    flex-direction: column;
    height: fit-content;
    background-color: transparent;
    border: none;
    box-shadow: unset;
    padding: 1rem .25rem;
  }

  .candidates-info-section .candidates-info-wrapper .left-section  {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
  }

  .candidates-info-section .candidates-info-wrapper .left-section .rules-container,
  .candidates-info-section .candidates-info-wrapper .left-section .english-test-container, 
  .candidates-info-section .candidates-info-wrapper .left-section p,
  .candidates-info-section .candidates-info-wrapper .left-section .survey-container  {
    flex-direction: column;
  }

  .candidates-info-section .candidates-info-wrapper .left-section .rules-container {
    align-items: stretch;
    gap: 1.5rem;
  }

  .candidates-info-section .candidates-info-wrapper .left-section .survey-container {
    gap: 1.5rem;
  }
  
  .candidates-info-section img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .candidates-info-section .candidates-info-wrapper .left-section {
    padding: 2rem .5rem;
  }

  .candidates-info-section .candidates-info-wrapper .left-section .english-test-container button {
    width: 200px;
  }
}

@media (min-width: 1400px) {
  
  .candidates-info-section .candidates-info-wrapper {
    max-width: 1350px;
    width: 100%;
    height: 900px;
  }

  .candidates-info-section .candidates-info-wrapper .left-section h3 {
    font-size: var(--font-small-headings);
  }

  .candidates-info-section .candidates-info-wrapper .left-section button {
    font-size: var(--font-small-title);
    padding: 10px 12px;
  }
}