.login-section {
  background: var(--bg-dark);
  height: calc(100vh - 55px);
}

.login-section .login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  min-width: 400px;
  background-color: var(--bg);
  border: var(--border-card);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 4rem 3rem;
  gap: 4rem;
}

.login-section .login-wrapper h2 {
  font-size: 2.5rem;
  color: var(--text);
}

.login-section .login-wrapper form {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 1.5rem;
  width: 100%;
}

.login-section .login-wrapper form input {
  border-style: none;
  padding: 1rem;
  border-radius: 40px;
  width: 100%;
  font-family: "Parkinsans", sans-serif;
  color: var(--text-muted);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg-light);
}

.login-section .login-wrapper form input:focus {
  outline: none;
}

.login-section .login-wrapper form input::placeholder {
  color: var(--text-muted);
}

.login-section .login-wrapper form .login-button {
  width: 100%;
  padding: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-family: "Parkinsans", sans-serif;
  background-color: var(--button-primary);
  color: var(--button-color);
  font-size: 1rem;
  font-weight: 500;
}