.insurance-section {
  width: 100vw;
  min-height: calc(100vh - 55px);
  background-color: var(--bg-dark);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.insurance-section .insurance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
  width: 1200px;
  min-height: calc(100vh - 55px - 4rem);
  height: 100%;
  padding: 1.5rem 1rem;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  border: var(--border);
  gap: 2rem;
}

.insurance-section .insurance-wrapper .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.insurance-section .insurance-wrapper .title-container h3 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
}

.insurance-section .insurance-wrapper .title-container p {
  font-style: italic;
  color: var(--text-muted);
  text-align: center;
}

.insurance-section .insurance-wrapper .content-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 2rem;
  border-radius: var(--radius-small);
}

.insurance-section .insurance-wrapper .content-container .insurance-option {
  display: flex;
  flex-direction: column;
  justify-content: center; /* spread internal content */
  align-items: center;
  gap: 2rem;
  flex: 1; /* allow vertical growth */
  height: 350px; /* remove content-only height restriction */
  background-color: var(--bg-light);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
}

.insurance-section .insurance-wrapper .content-container .insurance-option h4 {
  font-size: var(--font-titles);
  text-align: center;
}

.insurance-section .insurance-wrapper .content-container .insurance-option ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-muted);
}

.insurance-section .insurance-wrapper .content-container .insurance-option ul li {
  color: var(--text-muted);
  text-align: center;
}

.insurance-section .insurance-wrapper .content-container .insurance-option a {
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small);
  font-family: 'Parkinsans', sans-serif;
  background-color: var(--button-primary);
  color: var(--button-color);
  border: none;
  font-size: var(--font-regular);
  white-space: nowrap;
}

@media (max-width: 600px) {
  .insurance-section {
    padding: 2rem 0.5rem;
  }

  .insurance-section .insurance-wrapper {
    padding: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: unset;
    border: none;
  }

  .insurance-section .insurance-wrapper .title-container {
    gap: .75rem;
  }

  .insurance-section .insurance-wrapper .title-container h3 {
    text-align: center;
  }

  .insurance-section .insurance-wrapper .content-container {
    flex-direction: column;
  }
  .insurance-section .insurance-wrapper .content-container .insurance-option {
    padding: 2rem 1rem;
    width: 100%; 
  }
}