.feed-item {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 420px;
  max-height: 450px;
  min-width: 300px;
  max-width: 450px;
  border-radius: var(--radius-card);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.feed-item .description-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--bg-light);
  padding: 10px 15px;
  border-radius: var(--radius-card);
  z-index: 10;
  box-shadow: var(--shadow);
}

.feed-item .description-container h3 {
  color: var(--text-muted);
  font-weight: 600;
  font-size: var(--font-small-title);
}