.feed-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg-dark);
  padding-block: 55px;
}

.feed-section h2 {
  font-size: 3rem;
  color: var(--text);
  position: relative;
  text-align: center;
}

.feed-section .feed-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  width: 80%;
}