.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  box-shadow: var(--shadow);
  padding-inline: 1rem;
  z-index: 1000;
}

.header .header-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .icons {
  color: var(--text-muted);
  font-size: var(--font-titles);
  font-weight: 500;
}

.header .nav {
  width: 80%;
  height: 100%;
}

.header .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-muted);
  font-weight: 500;
  /* gap: 1rem; */
  height: 100%;
}

.header .nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-regular);
  height: 100%;
  font-weight: 500;
}

.header .nav ul li .drop-down-button {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: var(--font-button);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-muted);
}

.header .nav .list-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -10%;
}

.header .nav .list-dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg);
  min-width: 150px;
  /* border-bottom-left-radius: var(--radius-button);
  border-bottom-right-radius: var(--radius-button); */
}

.header .nav .list-dropdown li {
  font-weight: 400;
  white-space: nowrap;
  color: var(--text-muted);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
}

.header .nav .list-dropdown li:hover {
  background-color: var(--accent-4);
}

.header .nav .list-3 {
  top: 0;
  left: 100%;
}

.header .nav .list-4 {
  top: 0;
  left: 100%;
}