.feed-section {
  min-height: calc(100vh - 55px);
  width: 100vw;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 3rem;
  background-color: var(--bg-dark);
  padding-block: 55px;
}

.feed-section h2 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  color: var(--text);
  position: relative;
  text-align: center;
}

.feed-section .feed-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto; 
  justify-items: center;
}


@media (max-width: 600px) {
  .feed-section .feed-container {
    padding-inline: 1rem;
  }
}