.feed-section {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 3rem;
  background-color: var(--accent-4);
  background-color: var(--bg-dark);
  /* background-image: linear-gradient(
    80deg,
    var(--bg-dark),
    var(--accent-4)
  ); */
  background-color: transparent;
  /* lowkey to jest do przemyslenia pozdro */
  padding-block: 55px;
}

.feed-section h2 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  color: var(--text);
  position: relative;
  text-align: center;
}

.feed-section .feed-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto; 
  justify-items: center;
  padding: 1rem;
}


@media (max-width: 768px) {
  .feed-section .feed-container {
    padding-inline: 1rem;
  }
}

@media (min-width: 1600px) {
  .feed-section .feed-container {
    max-width: 1600px;
    padding: 2rem;
  }
}