.feed-page-post {
  min-height: calc(100vh - 55px);
  gap: 2rem;
  /* padding-top: 55px; */
}

.feed-page-post .wrapper {
  min-width: 600px;
  max-width: 800px;
}

.feed-page-post .wrapper .card-image-container {
  height: 60%;
  width: 100%;
}

.feed-page-post .wrapper .card-footer-container .go-back-button {
  font-size: 1rem;
  font-weight: 500;
}