.matura-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 55px);
  padding: 2rem;
  background-color: var(--bg-dark);
}

.matura-section .matura-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
  flex-direction: column;
  gap: 3rem;
  max-width: 1000px;
  min-height: calc(100vh - 55px - 4rem);
  padding: 1rem;
}

.matura-section .matura-wrapper h3 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  text-align: center;
}

.matura-section .matura-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .matura-section {
    padding: 2rem 2rem;
  }

  .matura-section .matura-wrapper {
    padding: 0;
    gap: 2rem;
    min-height: auto;
  }

  .matura-section .matura-wrapper h3 {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .matura-section {
    padding: 2rem .5rem;
  }
}

@media (min-width: 1600px) {
  .matura-section .matura-wrapper {
    max-width: 1400px;
  }
}