.parents-council-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 55px);
  background-color: var(--bg-dark);
  background-image: linear-gradient(135deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));
  color: var(--text);
  padding: 3rem;
}

.parents-council-section .parents-council-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  gap: 2rem;
  height: fit-content;
}

.parents-council-section .parents-council-wrapper h3 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
}

.parents-council-section .parents-council-wrapper .content-container {
  position: relative;
  background-color: var(--bg);
  padding: 1.5rem;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow);
  border: var(--border);
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.parents-council-section .parents-council-wrapper .content-container .left-section {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.parents-council-section .parents-council-wrapper .content-container .left-section h5 {
  font-size: var(--font-regular);
  font-weight: 600;
}


.parents-council-section .parents-council-wrapper .content-container .left-section p {
  color: var(--text-muted);
}

.parents-council-section .parents-council-wrapper .content-container .left-section .list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.parents-council-section .parents-council-wrapper .content-container .left-section .list-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.parents-council-section .parents-council-wrapper .content-container .left-section .list-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-muted);
  min-height: 40px;
  width: 100%;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--border); 
}

.parents-council-section 
  .parents-council-wrapper 
  .content-container 
  .left-section 
  .list-wrapper ul li:last-child {
  border-bottom: none;
}

.parents-council-section 
  .parents-council-wrapper 
  .content-container 
  .left-section 
  .list-wrapper 
  ul li div {
  flex-shrink: 0;
  display: flex;                 
  justify-content: center;       
  align-items: center;          
  width: 35px;
  height: 35px;
  background-color: var(--button-primary);
  color: var(--button-color);
  border-radius: var(--radius-small);            
  font-size: 1rem;               
}

.parents-council-section .parents-council-wrapper .content-container .left-section .action-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.parents-council-section .parents-council-wrapper .content-container .left-section .action-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: var(--font-regular);
  background-color: var(--accent-4);
  padding: 0.5rem;
  color: var(--button-color);
  border-radius: var(--radius-small);
  font-weight: 400;
}

.parents-council-section .parents-council-wrapper .content-container .left-section .action-container .wrapper-mail {
  width: fit-content;
}

.parents-council-section .parents-council-wrapper .content-container .left-section .action-container .copy-span {
  background-color: var(--accent-4);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-small);
  font-size: var(--font-small-text);
  color: var(--accent-3);
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}

.parents-council-section .parents-council-wrapper .content-container .left-section .action-container a {
  background-color: var(--accent-2);
  padding: .5rem;
  font-size: var(--font-regular);
  border-radius: var(--radius-small);
  color: var(--button-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

/* right seciton */

.parents-council-section .parents-council-wrapper .content-container .right-section {
  position: absolute;
  background-color: var(--accent-4);
  padding: 1rem;
  border-radius: var(--radius-button);
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  top: 0;
  right: 0;
  transform: translate(20%, 10%);
  box-shadow: var(--shadow);
}

.parents-council-section .parents-council-wrapper .content-container .right-section .prezydium-wrapper,
.parents-council-section .parents-council-wrapper .content-container .right-section .bank-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.parents-council-section .parents-council-wrapper .content-container .right-section .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.parents-council-section .parents-council-wrapper .content-container .right-section .text-container h4 {
  font-size: var(--font-small-title);
}

.parents-council-section .parents-council-wrapper .content-container .right-section .prezydium-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .25rem;
}

.parents-council-section .parents-council-wrapper .content-container .right-section .prezydium-wrapper li h5 {
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--accent-3);
  font-weight: 600;
  background-color: var(--accent-2);
  padding: 4px 8px;
  border-radius: var(--radius-small);
}

.parents-council-section .parents-council-wrapper .content-container .right-section .prezydium-wrapper li p {
  color: var(--text-muted);
  font-style: italic;
  font-size: var(--font-text);
}

.parents-council-section .parents-council-wrapper .content-container .right-section .bank-account li {
  color: var(--text-muted);
}

.parents-council-section .parents-council-wrapper .content-container .right-section .bank-account li strong {
  color: var(--text);
}


@media (max-width: 1420px) {
  .parents-council-section {
    padding: 2rem 2rem;
  } 

  .parents-council-section .parents-council-wrapper {
    width: 100%;
    gap: 1.5rem;
  }

  .parents-council-section .parents-council-wrapper .content-container {
    width: 100%;
    flex-direction: column;  /* stack */
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
  }

  .parents-council-section .parents-council-wrapper .content-container .left-section  {
    width: 90%;
  }

  .parents-council-section .parents-council-wrapper .content-container .right-section {
    position: static;     
    transform: none;
    width: 70%;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .parents-council-section .parents-council-wrapper .content-container .left-section .action-container  {
    flex-direction: column;
    padding-block: 3rem;
  }
}

@media (max-width: 1200px) {
  .parents-council-section .parents-council-wrapper .content-container .left-section  {
    width: 100%;
  }

  .parents-council-section .parents-council-wrapper .content-container .right-section {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .parents-council-section .parents-council-wrapper .content-container .right-section {
    width: 100%;
  }
}