header {
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100dvw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}