.hero-section {
  height: calc(100vh - 55px);
  width: 100vw;
  background-image: url('../../images/hero-image.png');
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
  overflow: hidden;
}

.hero-section::after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.hero-section h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.hero-section p {
  color: white;
  text-align: center;
  font-style: italic;
}