.class-profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 55px);
  background-color: var(--bg-dark);
  color: var(--text);
  box-shadow: var(--shadow);
    background-image: linear-gradient(155deg, var(--bg-dark), var(--bg-dark), var(--accent-5), var(--accent-5), var(--accent-4));

}

.class-profile-section .class-profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: var(--radius-small);
  background-color: var(--bg);
}

.class-profile-section .class-profile-wrapper img {
  width: 100%;
  max-width: 900px;
  border-radius: var(--radius-small);
}

@media (max-width: 800px) {
  .class-profile-section .class-profile-wrapper {
    padding: 1rem 0.5rem;
  }

  .class-profile-section .class-profile-wrapper img {
    width: 95%;
  }
}
